:root {
  --primarycolor: rgb(46, 133, 255);
  --secondcolor: rgb(255, 237, 103);
  --primaryshadow: 5px 5px 10px rgb(75, 75, 75);
  --darkshadow: 5px 5px 10px rgb(40, 40, 40);
}

body {
  transition: all 200ms ease-in-out;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  background-position: left;
  background-size: 250%;
  transition: background-position 1s;
}

.theme-button {
  padding: 1.5%;
  background-color: aliceblue;
}

.theme-button button {
  font-size: 18px;
  background-color: antiquewhite;
  color: black;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../bg-img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 250px 0;
}

header h1 {
  line-height: 200px;
  font-size: 120px;
  font-weight: 900;
  text-decoration: underline;
}

header h2 {
  font-weight: 700;
  font-size: 45px;
  margin-top: -25px;
  color: white;
}

header a {
  margin: 0 auto;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  color: white;
  transition: all 200ms ease-in-out;
}
header a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(255, 237, 103);
}

header hr {
  color: white;
}

hr {
  color: black;
  margin-top: 10px;
}

img {
  transition: all 200ms ease-in-out;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--primaryshadow);
}

video {
  max-width: 100%;
  height: auto;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bg-img/bgfooter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: aliceblue;
  padding: 2%;
}

.container button {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(46, 133, 255);
  color: white;
  border: rgb(46, 133, 255);
  box-shadow: var(--primaryshadow);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.container button:hover {
  background-color: rgb(255, 237, 103);
  color: black;
  transform: translateY(-10px);
}

.container {
  box-shadow: 0px 0px 50px aliceblue;
  color: aliceblue;
  max-width: 1500px;
  margin: 0 auto;
}

.main-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.main-container video {
  box-shadow: var(--primaryshadow);
}

.descrip-container h1 {
  text-align: center;
  color: black;
  font-weight: 700;
}

.descrip-container p {
  color: black;
  line-height: 30px;
  font-weight: 400;
}

/* First Section */
section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../bg-img/pexels-gustavo-fring-4148874.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;

  color: white;
  text-align: center;
  padding: 150px 0;
}

.section-container-grid {
  max-width: 100%;
  padding: 0% 10%;
  display: grid;
  grid-template-columns: 400fr 1200fr 400fr;
  grid-gap: 20px;
}

.section-1 {
  max-width: 100%;
  background-color: rgb(98, 112, 124);
  border-radius: 20px;
}

.section-3 {
  max-width: 100%;
  background-color: rgb(98, 112, 124);
  border-radius: 20px;
}

.section-body-2 {
  background-image: url("../bg-img/paws.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  padding: 2%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-body-2 .embed-text {
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-weight: 600;
}

iframe {
  max-width: 100%;
  height: 0 auto;
}
/*Galery*/
.galery {
  background-color: aliceblue;
  padding: 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  grid-gap: 30px;
}

/*media section/ section - 3*/

.grid-section-3-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-music-3-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../bg-img/whitehusky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.text-column {
  background-color: aliceblue;
  padding: 6%;
  color: black;
  font-size: 18px;
  line-height: 1.5;
}
.text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-column-2 {
  background-color: aliceblue;
  text-align: center;
  padding: 6%;
  color: black;
  font-size: 18px;
}
.text-grid-section-2 {
  line-height: 1.6;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/*Contact */

.contact {
  text-align: center;
  font-size: 25px;
}

.contact i {
  background-color: aliceblue;
  color: black;
  padding: 10px;
  margin: 10px 15px;
  border-radius: 30px;
  box-shadow: var(--primaryshadow);
}

#contact {
  background-color: #343a40;
}

.contact i:hover {
  transition: all 200ms ease-in-out;
  background-color: var(--primarycolor);
  color: white;
  box-shadow: var(--primaryshadow);
}
footer hr {
  color: white;
}
.fjs-sign {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/* Footer */
.footer-container {
  padding: 2% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

footer a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  line-height: 1.5;
  font-size: 20px;
  color: rgb(130, 197, 255);
  transition: all 200ms ease-in-out;
}

footer a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(255, 237, 103);
}

/*fast*/

.image-fluid {
  border-radius: 0;
  max-width: 100%;
  height: 0 auto;
}

.box-perfect-shadow {
  box-shadow: var(--primaryshadow);
}

.box-perfect-shadow-dark {
  box-shadow: var(--darkshadow);
}

.dark {
  transition: all 200ms ease-in-out;
  background: linear-gradient(
    114.3deg,
    rgb(53, 70, 58) 0.2%,
    rgb(22, 36, 33) 68.5%
  );
  background-position: left;
  background-size: 300%;
  transition: background-position 1s;
}

.dark-theme {
  background-position: right;
}

.dark header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../bg-img/background\ darktheme.jpg");
}

.dark hr {
  color: white;
}

.dark .container {
  box-shadow: 0px 0px 15px rgb(104, 214, 104);
}
.dark .container button {
  background-color: rgb(104, 214, 104);
  border: rgb(104, 214, 104);
  color: black;
  box-shadow: var(--darkshadow);
}

.dark .container button:hover {
  background-color: rgb(255, 237, 103);
  color: black;
}

.dark main {
  background-color: #343a40;
  color: white;
}

.dark .descrip-container h1 {
  color: white;
}

.dark .descrip-container p {
  color: white;
}

.dark .section-body-2 {
  background-image: url("../bg-img/pawsblack.jpg");
}
.dark .section-body-2 .embed-text {
  color: white;
}

.dark .galery {
  background-color: #343a40;
}

.dark .text-column {
  background-color: #343a40;
  color: white;
}

.dark .text-column-2 {
  background-color: #343a40;
  color: white;
}

.dark .container a {
  color: rgb(47, 255, 120);
}

.dark .container a:hover {
  color: rgb(255, 237, 103);
}

.dark i:hover {
  color: black;
  background-color: rgb(255, 237, 103);
}

.dark .theme-button {
  background-color: #38393e;
}

@media (max-width: 700px) {
  header h1 {
    font-weight: 700;
    font-size: 60px;
  }

  header h2 {
    font-size: 25px;
  }

  .main-container {
    display: block;
  }

  .section-container-grid {
    grid-template-columns: 1fr;
  }

  .section-body-2 {
    grid-template-columns: 1fr;
  }

  .galery {
    display: none;
  }

  .text-grid {
    grid-template-columns: 1fr;
  }

  .text-grid-section-2 {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}
