:root {
  --primarycolor: rgb(196, 227, 255);
  --primaryshadow: 5px 5px 10px rgb(77, 77, 77);
}

body {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../bg-img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 250px 0;
}

header h1 {
  line-height: 200px;
  font-size: 120px;
  font-weight: 900;
  text-decoration: underline;
}

header h2 {
  font-weight: 700;
  font-size: 45px;
  margin-top: -50px;
  color: white;
}

header hr {
  color: white;
}

hr {
  color: black;
  margin-top: 10px;
}

img {
  transition: all 200ms ease-in-out;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

video {
  max-width: 100%;
  height: auto;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bg-img/bgfooter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 2%;
  background-color: aliceblue;
}

main button {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(46, 133, 255);
  color: white;
  border: rgb(46, 133, 255);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(46, 133, 255);
  color: white;
  border: rgb(46, 133, 255);
}

.container {
  color: aliceblue;
  max-width: 1500px;
  margin: 0 auto;
  line-height: 1.5;
}

.main-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-container video {
  box-shadow: var(--primaryshadow);
}

.descrip-container h1 {
  text-align: center;
  color: black;
  font-weight: 700;
}

.descrip-container p {
  color: black;
  line-height: 30px;
  font-weight: 400;
}

/* First Section */
section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../bg-img/pexels-gustavo-fring-4148874.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;

  color: white;
  text-align: center;
  padding: 150px 0;
}

.section-container-grid {
  max-width: 100%;
  padding: 0% 10%;
  display: grid;
  grid-template-columns: 400fr 1200fr 400fr;
  grid-gap: 20px;
}

.section-1 {
  max-width: 100%;
  background-color: rgb(98, 112, 124);
  border-radius: 20px;
}

.section-3 {
  max-width: 100%;
  background-color: rgb(98, 112, 124);
  border-radius: 20px;
}

.section-body-2 {
  background-image: url("../bg-img/paws.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  padding: 2%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-body-2 .embed-text {
  padding: 2%;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  text-align: center;
  color: black;
  font-weight: 600;
}

iframe {
  max-width: 100%;
  height: 0 auto;
}
/*Galery*/
.galery {
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aliceblue;
  max-width: 100%;
}

/*media section/ section - 3*/
.section-body-3 {
}

.grid-section-3-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-section-3-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../bg-img/whitehusky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1500px;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text-column {
  padding: 6%;
  background-color: aliceblue;
  color: black;
  font-size: 18px;
  line-height: 1.5;
}
.text-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-column-2 {
  text-align: center;
  padding: 6%;
  background-color: aliceblue;
  color: black;
  font-size: 18px;
}
.text-grid-section-2 {
  line-height: 1.6;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/*Contact */

.contact {
  color: blue;
}

/* Footer */
.footer-container {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/*fast*/

.image-fluid {
  border-radius: 0;
  max-width: 100%;
  height: 0 auto;
}
